<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-list</title>
</head>
<body>
    
            
    <% if(user){ %>
        <table border="1">
            <th>To-Do-list</th>
                <%for(let i = 0; i < list.length; i++){%>
                    <tr>
                        <td><%= list[i].content %></td>
                    </tr>
                <% } %>
            </table>
                
            <form action="/create" method="POST">
                <input type="text" name="content">
                <input type="submit" value="새 일 작성">
            </form>
            <form action="/auth/logout" method="GET">
                <input type="submit" value="로그아웃">
            </form>
        <% } else {%>
            <form action="/auth/login" method="POST">
                <input type="text" name="name" placeholder="Id">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="로그인">
            </form>

            <form action="/auth/join" method="POST">
                <input type="text" name="name" placeholder="Id">
                <input type="password" name="password" placeholder="password">
                <input type="submit" value="가입">
            </form>
         <% }%>

    
</body>
</html>