<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="public/stylesheets/item.css">
    <title>라프텔</title>
</head>
<body>
    <div id="root">
        <div class="header">
            <div class="nav">
                <div class="nav-left">
                    <div class="laftel"><a href="index.html">LAFTEL</a></div>
                    <ul>
                        <li><a href="#">태그검색</a></li>
                        <li><a href="daily.html">요일별 신작</a></li>
                        <li><a href="#">테마 추천</a></li>
                        <li><a href="#">멤버십</a></li>
                    </ul>
                </div>

                <div class="nav-right">
                    <form action="#" class="search-form" method="GET">
                        <div class="search-box">
                            <i class="fas fa-search"></i>
                            <input type="text" class="search-text">
                        </div>
                    </form>
                    <ul>
                        <li><a href="login.html">로그인/가입</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="head-wrap">
                <div class="item-head">
                    <div class="thumbnail">
                        <img src="public/images/45558a4b-6309-44b9-b843-32705d0ce59a.jpg">
                    </div>
                    <div class="info">
                        <div class="title">도쿄 리벤저스</div>
                        <div class="smallText">액션 / 드라마</div>
                        <div class="smallText">평균 4.5</div>
                    </div>
                </div>
            </div>
            <div class="item-view">
                <a href="#">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="public/images/Thumbnail.0000057.jpg">
                        </div>

                        <div class="info">
                            <div class="title">1화 Reborn</div>
                            <div class="day">2021.04.12</div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="public/images/Thumbnail.0000057.jpg">
                        </div>

                        <div class="info">
                            <div class="title">1화 Reborn</div>
                            <div class="day">2021.04.12</div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="public/images/Thumbnail.0000057.jpg">
                        </div>

                        <div class="info">
                            <div class="title">1화 Reborn</div>
                            <div class="day">2021.04.12</div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="public/images/Thumbnail.0000057.jpg">
                        </div>

                        <div class="info">
                            <div class="title">1화 Reborn</div>
                            <div class="day">2021.04.12</div>
                        </div>
                    </div>
                </a>

                <a href="#">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="public/images/Thumbnail.0000057.jpg">
                        </div>

                        <div class="info">
                            <div class="title">1화 Reborn</div>
                            <div class="day">2021.04.12</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>