<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>board</title>
</head>
<body>
    <table border="1">
        <th>게시글 번호</th>
        <th>제목</th>
        <tr>
            <td>0</td>
            <td>메시 VS 호날두</td>
        </tr>
        <tr>
            <td>1</td>
            <td>짬뽕 VS 짜장면</td>
        </tr>   
            <td>2</td>
            <td>펩시 VS 코카콜라</td>
        </tr>
    </table>
    <form method="POST" action="/create">
        <input type="submit" name="create" value="create">
    </form>
</body>
</html>